/* put your styles here */
/* be sure to link this file to your index.html file */
/* CSS files add styling rules to your content */
  
body { 
  padding-top: 65px; 
}

nav {
  font: Segoe UI;
 }
a.carousel-control-prev:hover,
  a.carousel-control-next:hover{
    background-color: #6c757d;
  }
  
  .carousel-indicators li {
    background-color: #6c757d;
  }
  
  /* Change these colors */
  .brand-main {
    background-color: #c7b198; /* Main Background Color */
  }
  
  .brand {
    background-color: #7189bf; /* Header and Footer bar Color */
  }
  