/* put your styles here */
/* be sure to link this file to your index.html file */
/* CSS files add styling rules to your content */
  
body { 
  padding-top: 65px; 
}

a.carousel-control-prev:hover,
  a.carousel-control-next:hover{
    background-color: #6c757d;
  }
  
  .carousel-indicators li {
    background-color: #6c757d;
  }


